:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-black: #2F2F2F;
    --very-light-gray: rgb(60, 62, 68);
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
}
.header nav {
    height: 100px;
    padding: 25px;
}
.header nav img {
    border: 4px solid var(--very-light-black);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.main {
    height: 100vh;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
.main-header {
    height: 200px;
}
.main-header .header__title {
    display: grid;
    place-items: center;
    font-size: 65px;
    width: 100%;
}
.card-container {
    background-color: var(--very-light-black);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    padding: 50px;
}
.card {
    display: flex;
    gap: 25px;
    background: var(--very-light-gray);
    border: 1px solid var(--very-light-gray);
    border-radius: 15px;
    height: 250px;
    margin: 25px 0 0 50px;
    width: 45%;
}
.image img {
    height: 250px;
    width: 250px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.description__title {
    color: #e5e5e5;
    font-size: 25px;
    margin: 16px;
}
.origin__name {
    color: #eeecec;
    font-size: 20px;
    width: 100%;
}
.description__status, .description__species {
    color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    margin: 16px;
}
.origin {
    margin-top: 80px;
    font-size: 18px;
}
.origin__title {
    color: #F2F2F2;
    font-weight: 700;
}
@media (max-width: 768px) {
    .main .header__title {
        font-size: 50px;
        text-align: center;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: auto;
    }
    .image img {
        height: 250px;
        width: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0;
        object-fit: cover;
    } 
    .origin {
        margin: 40px;
        font-size: 18px;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:769px) and (max-width: 1200px) {
    .card {
        width: 90%;
        height: auto;
    }
}
